<br>
<h1 class="text-secondary text-center">Speech Recognition with AWS Transcribe</h1>
<br>


<div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">

        <div class="btn-group">
            <div>
              <label>Language :&nbsp;</label>
              <select id="selectLanguages">
                <option *ngIf="!transcribeLanguages" value="0">Loading...</option>
                <option *ngFor="let language of transcribeLanguages" value="{{language.language}}" [attr.selected]="language.language_code == 'en-US' ? true : null">
                  {{language.language}} ({{language.language_code}})
                </option>
              </select>
            </div>
          </div>

          <br/><br/>

          <button id="buttonTranscribe" class="btn btn-primary mr-2" (click)="startRecording()">Start Recording!</button>
          <br/>

          <br/><br/>


        <div class="text-center">
          <div class="input-group">
            <div class="input-group-prepend tts-text">
              <span class="input-group-text">Text</span>
            </div>
            <textarea ng-model="transcription" class="form-control" aria-label="With textarea"></textarea>
          </div>
        

        
        </div>

      </div>

    </div>
  </div>