<div class="jumbotron jumbotron-fluid">

    <video autoplay muted loop>    
        <source src="../assets/videos/lifeofroot-splash.mp4" type="video/mp4">
    </video>
    
      <div class="container text-white">
    
        <h1 class="display-4"></h1>
        <h1 class="display-4"></h1>
        <br/><br/>
        <p class="lead"></p>
        <hr class="my-4">
        <p></p>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <div class="text-right">
          <button class="btn btn-primary btn-lg text-right" aria-label="Left" (click)="goHome()">
            <i fa name="home"></i> Skip and Go Home
          </button>
        </div>
  
      </div>
  
      <!-- /.container -->
    </div>
    <!-- /.jumbotron -->
  