<br>
<h1 class="text-secondary text-center">OCR with AWS Textract</h1>
<br>


<div class="container">
  <div class="row">
    <div class="col-8">

      <div class="text-center">
        <webcam [height]="520" [width]="650" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                [videoOptions]="videoOptions"
                (cameraSwitched)="cameraWasSwitched($event)"
                (initError)="handleInitError($event)">
        </webcam>
      
        <br/><br/>
        <button id="buttonSnapshot" class="btn btn-primary mr-2" (click)="triggerSnapshot();">Take A Snapshot</button>
        <!-- <button class="btn btn-secondary" (click)="toggleWebcam();">Toggle Webcam</button> -->
        <br/>
      
      </div>
    </div>

    <div class="col-4" *ngIf="blocks">
      <div>
        <h5>Found blocks : </h5>
      </div>
      <div class="container">
        <table class="table">
          <tr class="thead-light">
            <th>Text</th>  
            <th>Confidence</th>
          </tr>
          <tr *ngFor="let block of blocks">
            <td>{{ block.text }}</td>
            <td>{{ block.confidence }}</td>
          </tr>
        </table>
      </div>
    </div>
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>
