
<div class="jumbotron jumbotron-fluid" id="banner" style="
background-image: url(../../assets/images/background/bg-main-02.jpg);">
  <div class="container text-center text-md-left">
      <header>
        <div class="row justify-content-between">
            <div class="col-11">
            </div>
            <div class="col-1 align-self-center text-right">
                <img src="../../assets/images/builders_logo.jpg" alt="logo">
            </div>
        </div>
      </header>
      <h1 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="display-3 text-black-60 font-weight-bold">
        Welcome to<br>
        Indiama Zones!
      </h1>
      <p id="p1" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-black-60 my-4">
          A casual game to learn languages with AWS AI/ML
      </p>
      <br>
      <button class="btn btn-primary btn-lg" aria-label="Left" (click)="playGame()">
        <i fa name="play-circle"></i> Get Started
      </button>
      <button class="btn btn-primary btn-lg ml-4" aria-label="Left" (click)="playTrailer()">
        <i fa name="video-camera"></i> Watch Trailer
      </button>
  </div>
</div>  

<!-- three-block -->
<div class="container my-5 py-2">
  <h2 class="text-center font-weight-bold my-3">Project Abstract</h2>
  <div class="row text-center">
      <div>
          <h4></h4>
          <br>
          <h4>Boost your language learning with AWS AI/ML services.</h4>
          <br>
          <h4>AWS AI / ML services are the perfect technologies to help users read, write, and speak foreign languages.</h4>
          <br>
      </div>
      <!--
      <div class="row text-center">
        <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" class="col-4 text-center">
            <img src="../../assets/images/angular_logo.jpg" alt="AngularJS" height="120" class="mx-auto">
            <br>
            <h4>AngularJS</h4>
            <p>Front-end web framework</p>
        </div>
        <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-4 text-center">
            <img src="../../assets/images/dotnet_core_logo.png" alt=".NET Core" height="120" class="mx-auto">
            <br>
            <h4>.NET Core</h4>
            <p>Middle-tier API service</p>
        </div>
      </div>
      -->

    <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true" class="col-3 text-center">
        <img src="../../assets/images/icon-rekognition.jpg" alt="Amazon Rekognition" height="100" class="mx-auto">
        <br>
        <h4>Amazon<br>Rekognition</h4>
        <p>Image recognition and Object detection</p>
    </div>
    <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true" class="col-3 text-center">
        <img src="../../assets/images/icon-textract.jpg" alt="Amazon Rekognition" height="100" class="mx-auto">
        <br>
        <h4>Amazon<br>Textract</h4>
        <p>Optical Character Recogintion</p>
    </div>
    <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true" class="col-3 text-center">
        <img src="../../assets/images/icon-polly.jpg" alt="Amazon Rekognition" height="100" class="mx-auto">
        <br>
        <h4>Amazon<br>Polly</h4>
        <p>Text to Speech</p>
    </div>
    <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true" class="col-3 text-center">
        <img src="../../assets/images/icon-transcribe.jpg" alt="Amazon Rekognition" height="100" class="mx-auto">
        <br>
        <h4>Amazon<br>Transcribe</h4>
        <p>Speech recognition</p>
    </div>

  </div>
</div>

<!-- feature (skew background) -->
<div class="jumbotron jumbotron-fluid feature" id="feature-first">
    <div class="container my-5">
        <div class="row justify-content-between text-center text-md-left">
            <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="col-md-6">
                <h2 class="font-weight-bold">Amazon Rekognition</h2>
                <h4 class="my-4">With Amazon Rekognition, you can identify thousands of objects (e.g. bike, telephone, building) and scenes (e.g. parking lot, beach, city). When analyzing video, you can also identify specific activities happening in the frame, such as "delivering a package" or "playing soccer".</h4>
                <a href="https://aws.amazon.com/rekognition/" target="_blank" class="btn btn-primary btn-lg"><i fa name="info"></i> Learn More</a>
            </div>
            <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="col-md-6 align-self-center">
                <img src="../../assets/images/label-detection-sample.png" width="600" alt="label detection" class="mx-auto d-block">
            </div>
        </div>
    </div>
</div>

<!-- diagram -->
<div class="container my-5 py-2">
    <h2 class="text-center font-weight-bold my-5">Architecture Diagram</h2>
    <br>
    <div class="row text-center">
        <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" class="col text-center">
            <img src="../../assets/images/diagram.jpg" alt="Architecture Diagram" height="750" class="mx-auto text-center">
        </div>
    </div>
</div>

<!-- Meet the team -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h2 class="text-center font-weight-bold">Meet the Team</h2>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
            <img src="../../assets/images/team/skkim.jpeg" alt="Jane" style="width:100%">
            <div class="container">
                <h4>Soonkeun Kim</h4>
                <p class="title">Project Owner</p>
                <p style="height:120px">A garage rocker.<br>Full stack development for Front-end and API services including artworks.</p>
            </div>
            </div>
        </div>
        
        <div class="column">
            <div class="card">
            <img src="../../assets/images/team/jwcho.jpeg" alt="Jiwoon" style="width:100%">
            <div class="container">
                <h4>Jiwoon Cho</h4>
                <p class="title">Project Partner</p>
                <p style="height:120px">Dad with 3 kids.<br>Contribution for overall architecure design, research and deployment.</p>
            </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
            <img src="../../assets/images/team/jskim.jpeg" alt="Jisun" style="width:100%">
            <div class="container">
                <h4>Jisun Kim</h4>
                <p class="title">Contributor</p>
                <p style="height:120px">Born to be a gamer.<br>Contribution for database architecture and sharing domain knowledge.</p>
            </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
            <img src="../../assets/images/team/ssjou.jpeg" alt="Sungshik" style="width:100%">
            <div class="container">
                <h4>Sungshik Jou</h4>
                <p class="title">Contributor</p>
                <p style="height:120px">The yak shaver.<br>Contribution for architecture design, game ranking and deployment.</p>
            </div>
            </div>
        </div>
        
        <div class="column">
            <div class="card">
            <img src="../../assets/images/team/kkwon.jpeg" alt="Kei" style="width:100%">
            <div class="container">
                <h4>Kei Kwon</h4>
                <p class="title">Contributor</p>
                <p style="height:120px">A working gamer.<br>Contribution for screenplay and contents review.</p>
            </div>
            </div>
        </div>
    </div>
</div>
</div>