<div class="jumbotron jumbotron-fluid">

    <video autoplay muted loop>    
        <source src="../../assets/videos/lifeofroot-splash.mp4" type="video/mp4">
    </video>
    
      <div class="container text-white">
    
        <h1 class="display-4"></h1>
        <h1 class="display-4"></h1>
        <br/><br/>
        <p class="lead"></p>
        <hr class="my-4">
        <p></p>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <div class="text-right">
          <button class="btn btn-primary btn-lg text-right" aria-label="Left" (click)="gameStart()">
            <i fa name="play-circle"></i> Skip and Start Game
          </button>
        </div>

      </div>

      <!-- /.container -->
    </div>
    <!-- /.jumbotron -->

<!-- <div class="text-center container">

  <h5>TODO: splash animation</h5>

  <div class="row">
    <div id="section_1" class="alert alert-info col">
        <br>
        <h3>Hi, my name is Rooty Tooty.</h3>
        <h3>Since I was very little, I was able to memorize the square root decimals.</h3>
        <h3>People who knows me well calls me “Root”.</h3>
        <br><br>
        <h3>“Root” is on his way to visit Re:Invent 2018 on a big boat.</h3>
        <h3>On his way to Las Vegas, the boat ran into a storm.</h3>
        <h3>Due to storm, the boat was damaged and only one life boat is there.</h3>
        <br><br>
        <h3>In order to survive, “Root” has to decide which ones & things to be left on the boat.</h3>
        <h3>Quicker the pick is decided, more things and animals will be sailing along with “Root”.</h3>
      </div>
  </div>

  <div class="text-center">
      <button type="button" class="btn btn-primary btn-lg" (click)="gameStart()">
        <i fa name="play-circle"></i> Start Game
      </button>
  </div>  
</div> -->

