<br>
<h5 class="text-center">* This component is for debug purpose only. *</h5>

<br>
<h1 class="text-secondary text-center">tb_game_result</h1>
<br>
<div class="container">
  <table class="table table-striped table-dark">
    <tr>
      <th *ngFor="let col of gameResultColumns">
        {{col}}
      </th>
    </tr>
    <tr *ngFor="let gameResult of gameResults">
      <td *ngFor="let col of gameResultColumns">
        {{gameResult[col]}}
      </td>
    </tr>
  </table>
</div>

<br>
<h1 class="text-secondary text-center">tb_game</h1>
<br>
<div class="container">
  <table class="table table-striped table-primary">
    <tr>
        <th *ngFor="let col of gameColumns">
          {{col}}
        </th>
      </tr>    
    <tr *ngFor="let game of games">
      <td *ngFor="let col of gameColumns">
        {{game[col]}}
      </td>
    </tr>
  </table>
</div>

<br>
<h1 class="text-secondary text-center">tb_stage_object</h1>
<br>
<div class="container">
  <table class="table table-striped table-info">
    <tr>
        <th *ngFor="let col of stageObjectColumns">
          {{col}}
        </th>
      </tr>    
    <tr *ngFor="let stageObject of stageObjects">
      <td *ngFor="let col of stageObjectColumns">
        {{stageObject[col]}}
      </td>
    </tr>
  </table>
</div>

<br>
<h1 class="text-secondary text-center">tb_stage_log</h1>
<br>
<div class="container">
  <table class="table table-striped table-info">
    <tr>
        <th *ngFor="let col of stageLogColumns">
          {{col}}
        </th>
      </tr>    
    <tr *ngFor="let stageLog of stageLogs">
      <td *ngFor="let col of stageLogColumns">
        {{stageLog[col]}}
      </td>
    </tr>
  </table>
</div>