[Unit]
Description = pump1 daemon
After = pigpio.service network.target

[Service]
ExecStart = /home/pi/agri-device/pump.py --pin 17 --thing_name pump1 --area area1 --cert /home/pi/agri-device/certs/pump1/device.crt.pem --key /home/pi/agri-device/certs/pump1/private.key.pem
Restert = always
Type = simple
WorkingDirectory = /home/pi/agri-device/
User = pi
Group = pi

[Install]
WantedBy = multi-user.target
