[API]

__APIGW_X_API_KEY__ = get_images/api_key
__APIGW_X_API_KEY_QR_CODE__ = get_qrcode/api_key
__APIGW_API__ = get_images/url
__APIGW_API_QR_CODE__ = get_qrcode/url

[Queue]
__QUEUE_URL__ = client/url
__SQS_QUEUE_NAME__ = client/name
__SQS_BACKEND_QUEUE__ = backend/name

[Assets]
__S3_BUCKET__ = s3/bucket
__DDB_TABLE__ = dynamo/table_name

[Client]
__CEREBRO_TEMP_DIR__ = path/temp
__CEREBRO_MEDIA_DIR__ = path/media
__CEREBRO_LOGS_DIR__ = path/logs
__CEREBRO_PROFILES_DIR__ = path/profiles
__CEREBRO_SYSTEM_DIR__ = path/system
__CEREBRO_AUDIO_DIR__ = path/audio

[Settings]
__IMAGE_MAX_COUNT__ = max_images
__CADENCE__ = cadence

[RaspberryPi]
__GREEN_LED__ = green/led
__GREEN_BUTTON__ = green/button
__YELLOW_LED__ = yellow/led
__YELLOW_BUTTON__ = yellow/button

__PUSHBUTTON_DELAY__ = pushbutton/delay
__ACCEPT_INPUT__ = pushbutton/accept_input
__CHOOSE_AGAIN__ = pushbutton/choose_another_input

[IOT]
__IOT_TOPIC__ = topic/name

__IOT_HOST__ = host/name
__IOT_ROOT_CA_PATH__ = path/root_ca
__IOT_CERTIFICATE_PATH__ = path/cert
__IOT_PRIVATE_KEY_PATH__ = path/private_key

__IOT_CLIENT_ID_REQUESTER__ = client_id/requester
__IOT_CLIENT_ID_PROCESSOR__ = client_id/processor

[Printer]
__PRINTER_TYPE__ = name

[Filters]
__FILTERED_IMAGE_NAME__ = filtered_image/name
__PIG_NOSE_FILTER__ = filter/pig_nose
__FLOWER_CROWN_FILTER__ = filter/flower_crown
__EYE_MASK_FILTER__ = filter/eye_mask
__DOG_NOSE_FILTER__ = filter/dog_nose
__DOG_LEFT_EAR_FILTER__ = filter/dog_left_ear
__DOG_RIGHT_EAR_FILTER__ = filter/dog_right_ear
__DOG_TONGUE_FILTER__ = filter/dog_tongue
