<p></p>

<!-- Navigation bar for testing -->
<div class="container">
  <nav>
    <div class="nav nav-pills nav-justified" id="nav-tab" role="tablist">
      <a class="nav-item nav-link" id="nav-rekognition-tab" data-toggle="tab" (click)="goTest('rekognition');" role="tab" aria-controls="nav-rekognition" aria-selected="true">Rekognition Test</a>
      <a class="nav-item nav-link" id="nav-textract-tab" data-toggle="tab" (click)="goTest('textract');"  role="tab" aria-controls="nav-textract" aria-selected="false">Textract Test</a>
      <a class="nav-item nav-link" id="nav-polly-tab" data-toggle="tab" (click)="goTest('polly');"  role="tab" aria-controls="nav-polly" aria-selected="false">Polly Test</a>
      <a class="nav-item nav-link" id="nav-transcribe-tab" data-toggle="tab" (click)="goTest('transcribe');"  role="tab" aria-controls="nav-transcribe" aria-selected="false">Transcribe Test</a>
    </div>
  </nav>
</div>

<!-- Test AWS AI/ML serivces -->
<app-test-rekognition *ngIf="this.feature === 'rekognition'"></app-test-rekognition>
<app-test-textract *ngIf="this.feature === 'textract'"></app-test-textract>
<app-test-polly *ngIf="this.feature === 'polly'"></app-test-polly>
<app-test-transcribe *ngIf="this.feature === 'transcribe'"></app-test-transcribe>
