/* navbar */
.navbar-inverse {
    background-color: #588edf;
    border-color: #dfa658;
}
/* Title */
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #5E5E5E;
}
.btn-success {
    color: #5E5E5E;
    width:
}
.logout {
    float:right;
    padding-top:10px;
}
