ALEXA_DEVICE_NAME=Garage
AWS_SERVICE_REGION=us-east-1
LOCK_SENSOR_CHANNEL=21
UNLOCK_SENSOR_CHANNEL=20
RELAY_CHANNEL=20
IOT_ENDPOINT=xxx
IOT_THING_NAME=smart-garage-reinvent
SKILL_ID=xxx
LWA_CLIENT_ID=xxx
LWA_CLIENT_SECRET=xxx
